@namespace BlazorBSModal

@if (!DisposeModal)
{
    <div class="modal @ModalClass @(FadeModal?"fade":"")" tabindex="-1" role="dialog" style="display:@ModalDisplay;@(DirectionRTL?"direction: rtl;":"")" @onclick="ClickOnOutOfModal">
        <div class="modal-dialog @ModalDialogClass @fullScreenAvailability" role="document">
            <div class="modal-content @ModalContentClass" @onmouseover="() => MouseIsOutOfModal = false" @onmouseout="() => MouseIsOutOfModal = true">
                @if (ShowHeader)
                {
                    if (ModalHeader != null)
                    {
                        <div class="modal-header @ModalHeaderClass">
                            @ModalHeader
                        </div>
                    }
                    else
                    {
                        <div class="modal-header @ModalHeaderClass">

                            <h5 class="modal-title @(HeaderTitleClass)">@ModalTitle</h5>
                            @if (ShowCloseBtn)
                            {
                                <button @onclick="() => Close()" type="button" style="@(DirectionRTL ? "margin: -1rem auto -1rem -1rem;" : "")" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            }
                            
                        </div>
                    }

                }

                <div class="modal-body @ModalBodyClass">
                    @ModalBodyContentHtml
                </div>

                @if (ShowFooter)
                {
                    if (ModalFooter != null)
                    {
                        <div class="modal-footer @ModalFooterClass">
                            @ModalFooter
                        </div>
                    }
                    else
                    {
                        <div class="modal-footer @ModalFooterClass">
                            @ModalFooterHtmlWhitoutCloseBtn
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Close()">@CloseBtnText</button>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
}



@if (Backdrop)
{
    if (ShowBackdrop)
    {
        <div class="modal-backdrop fade show"></div>
    }
}


