@namespace BlazorBSModal

@if (!DisposeModal)
{
    <div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay;@(DirectionRTL?"direction: rtl;":"")">
        <div class="modal-dialog @ModalDialogClass @fullScreenAvailability" role="document">
            <div class="modal-content">
                @if (ShowHeader)
                {
                    if (ModalHeader != null)
                    {
                        <div class="modal-header">
                            @ModalHeader
                        </div>
                    }
                    else
                    {
                        <div class="modal-header">

                            <h5 class="modal-title">@ModalTitle</h5>
                            <button @onclick="() => Close()" type="button" style="@(DirectionRTL?"margin: -1rem auto -1rem -1rem;":"")" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }

                }

                <div class="modal-body">
                    @ModalBodyContentHtml
                </div>

                @if (ShowFooter)
                {
                    if (ModalFooter != null)
                    {
                        <div class="modal-footer">
                            @ModalFooter
                        </div>
                    }
                    else
                    {
                        <div class="modal-footer">
                            @ModalFooterHtmlWhitoutCloseBtn
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Close()">@CloseBtnText</button>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
}



@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}


